---
import Layout from "../layouts/Layout.astro";
import Post from "@components/Post.astro";

const url =
  "https://guitarla-strapi-5ux1.onrender.com/api/posts?populate=imagen";
const respuesta = await fetch(url);
const { data } = await respuesta.json();
---

<Layout title="Blog" description="Blog de guitarras, descripciones, etc">
  <main>
    <h1 class="heading">Blog</h1>

    <div class="grid">
      {
        data?.map((posts) => (
          <Post
            titulo={posts.attributes.titulo}
            descripcion={posts.attributes.descripcion}
            url={posts.attributes.url}
            imagen={
              posts.attributes.imagen.data[0].attributes.formats.small.url
            }
            fecha={posts.attributes.publishedAt}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style></style>
