---
import Layout from "../layouts/Layout.astro";
import Guitarra from "@components/Guitarra.astro";
const url =
  "https://guitarla-strapi-5ux1.onrender.com/api/guitarras?populate=imagen";
const respuesta = await fetch(url);
const { data } = await respuesta.json();
---

<Layout title="Tienda" description="Coleccion guitarras, guitarras">
  <main>
    <h1 class="heading">Nuestra Coleccion</h1>
    <!-- quitar el error de data pasando de una el attributes que en este caso se va enviar un url de la imagen  -->
    <div class="grid">
      {
        data?.map((guitarra) => (
          <Guitarra
            nombre={guitarra.attributes.nombre}
            descripcion={guitarra.attributes.descripcion}
            precio={guitarra.attributes.precio}
            url={guitarra.attributes.url}
            imagen={
              guitarra.attributes.imagen.data.attributes.formats.medium.url
            }
          />
        ))
      }
    </div>
  </main>
</Layout>

<style></style>
